{% extends 'ulsosite/base.html' %}
{% load staticfiles %}

{% block content %}
<section>
  {# <img src="{% static 'ulsosite/images/IMG_5857-min.jpg' %}" class="body-photo thumbnail"/> #}
  <div id="accordion" role="tablist" aria-multiselectable="true">
  {% for card in accordion %}
    <div class="card">
      <div class="card-header" role="tab" id="{{ card.id }}">
        <h2><a data-toggle="collapse"
               data-target="#{{ card.id }}-text"
               href="#{{ card.id }}-text"
               aria-expanded="true"
               aria-controls="{{ card.id }}-text">
               {{ card.heading }}
               <span class="caret"></span>
             </a>
        </h2>
      </div>
      <div id="{{ card.id }}-text" class="collapse show" role="tabpanel" aria-labelledby="{{ card.id }}">
        <div class="card-block">
          {{ card.body | safe }}
          {% if card.image_set.first %}
              <img src='{{ card.image_set.first.image.url }}' class="body-photo thumbnail"/>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
</section>

{% if page.section_set.last %}

<h2>{{ page.section_set.last.heading }}</h2>

{{ page.section_set.last.body | safe }}
{% endif %}

{% endblock %}
