{% extends 'ulsosite/base.html' %}
{% load staticfiles %}

{% block content %}
  <h2>Specific Enquiries</h2>
  <ul>
    <li>
      <p>Absences, deps and vacancies enquiries: contact Esme at <a href="mailto:orchestral.manager@ulso.co.uk">orchestral.manager@ulso.co.uk</a>.</p>
    </li>
      <li>
        <p>Membership fees, reimbursements and equipment hire: contact Joanna at <a href="mailto:treasurer@ulso.co.uk">treasurer@ulso.co.uk</a>.</p>
      </li>

        <li>
          <p>Parts and sheet music: contact Natalie at <a href="mailto:librarian@ulso.co.uk">librarian@ulso.co.uk</a>.</p>
        </li>
          <li>
            <p>Website-related: contact Wenye at <a href="mailto:webmaster@ulso.co.uk">webmaster@ulso.co.uk</a>.</p>
          </li>
  </ul>
  <br>
  <h2>General Enquiries</h2>
  <ul>
    <li>
      <p>For general enquiries, please email Tom at <a href="mailto:chair@ulso.co.uk">chair@ulso.co.uk</a>.</p>
    </li>
  </ul>

  <h2>Contact Form</h2>

  <form role="form" action="" method="post">
    {% csrf_token %} {{ contact_form }}
    <input type="submit" value="Submit">
  </form>

{% endblock %}
