{% extends 'ulsosite/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

<h1>{{ section.title }}</h1>

<p>This is the rehearsals page.</p>

{% for concert in current_concert %}
<h2>{{concert.concert_date|date:"D d M y"}}</h2>

<h4>Conductor</h4>
<p>{{ concert.conductor }}</p>

{% endfor %}

<h3>Future Concerts</h3>
{% for concert in upcoming_concerts %}

<h3>{{ concert.season }}</h3>
<h4>Conductor</h4>
<p>{{ concert.conductor }}</p>

{% endfor %}
</div>

{% endblock %}
