{# {% extends 'ulsosite/base.html' %} #}

{% block content %}

<h1>{{ section.title }}</h1>

<p>This is the rehearsals page.</p>

<p>Current Concert</p>

{% for concert in current_concert %}
<h2>{{ concert.season }} - {{concert.concert_date|date:"D d M y"}}</h2>

<h4>Conductor</h4>
<p>{{ concert.conductor }}</p>

{% endfor %}

<h2>Future Concerts</h2>
{% for concert in upcoming_concerts %}

<h3>{{ concert.season }}</h3>
<h4>Conductor</h4>
<p>{{ concert.conductor }}</p>

{% endfor %}

{% endblock %}
