<h1>ULSO Audition Sign-up {{season}}</h1>

{% if form_text %}
  {{ form_text | safe }}
{% endif %}

<div class="form-container">
    <form id="audition-form" action="{{ action }}" method="post">
            {% csrf_token %}
        <div class="thin-line"></div>
        <h2>Your Details</h2>    
        <section class="name-and-contact">  
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.first_name.id_for_label }}">
                    First Name
                </label>
                <p class="help">
                    {{ form.first_name.help_text|safe }}
                </p>
                {{ form.first_name }}
                <p class="form-error">
                {{ form.first_name.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.last_name.id_for_label }}">
                    Last Name
                </label>
                <p class="help">
                    {{ form.last_name.help_text|safe }}
                </p>
                {{ form.last_name }}
                <p class="form-error">
                {{ form.last_name.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.email.id_for_label }}">
                    Email Address
                </label>
                <p class="help">
                    {{ form.email.help_text|safe }}
                </p>
                {{ form.email }}
                <p class="form-error">
                {{ form.email.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.phone.id_for_label }}">
                    Mobile Number
                </label>
                <p class="help">
                    {{ form.phone.help_text|safe }}
                </p>
                {{ form.phone }}
                <p class="form-error">
                {{ form.phone.errors }}
                </p>
            </div>
        </section>
        {# --------------------------------- #}
        <div class="thin-line"></div>
        <section class="uni-status">
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.uni.id_for_label }}">
                    College or University
                </label>
                <p class="help">
                    {{ form.uni.help_text|safe }}
                </p>
                {{ form.uni }}
                <p class="form-error">
                {{ form.uni.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.other_uni.id_for_label }}">
                    Other
                </label>
                <p class="help">
                    {{ form.other_uni.help_text|safe }}
                </p>
                {{ form.other_uni }}
                <p class="form-error">
                {{ form.other_uni.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                    <label class="form-label" for="{{ form.year.id_for_label }}">
                        Year
                    </label>
                    <p class="help">
                        {{ form.year.help_text|safe }}
                    </p>
                    {{ form.year }}
                    <p class="form-error">
                    {{ form.year.errors }}
                    </p>
                </div>
        </section>
        {# --------------------------------- #}
        <div class="thin-line"></div>
        <section class="instrument-experience">
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.subject.id_for_label }}">
                    Instrument
                </label>
                <p class="help">
                    {{ form.instrument.help_text|safe }}
                </p>
                {{ form.instrument }}
                <p class="form-error">
                {{ form.instrument.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.doubling.id_for_label }}">
                    Doubling Instrument(s)
                </label>
                <p class="help">
                    {{ form.doubling.help_text|safe }}
                </p>
                {{ form.doubling }}
                <p class="form-error">
                {{ form.doubling.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                    <label class="form-label" for="{{ form.returning_member.id_for_label }}">
                        Returning member
                    </label>
                    <p class="help">
                        {{ form.returning_member.help_text|safe }}
                    </p>
                    {{ form.returning_member }}
                    <p class="form-error">
                    {{ form.returning_member.errors }}
                    </p>
                </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.experience.id_for_label }}">
                    Previous Orchestral Experience
                </label>
                <p class="help">
                    {{ form.experience.help_text|safe }}
                </p>
                {{ form.experience }}
                <p class="form-error">
                {{ form.experience.errors }}
                </p>
            </div>
        </section>
        {# --------------------------------- #}
        <div class="thin-line"></div>
        <section class="agreements">
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.depping_policy.id_for_label }}">
                    Depping Policy
                </label>
                <p class="help">
                    {{ form.depping_policy.help_text|safe }}
                </p>
                {{ form.depping_policy }}
                <p class="form-error">
                {{ form.depping_policy.errors }}
                </p>
            </div>
            <div class="field-wrapper">
                <label class="form-label" for="{{ form.privacy_policy.id_for_label }}">
                    Privacy Policy
                </label>
                <p class="help">
                    {{ form.privacy_policy.help_text|safe }}
                </p>
                {{ form.privacy_policy }}
                <p class="form-error">
                {{ form.privacy_policy.errors }}
                </p>
            </div>
        </section>
        {# --------------------------------- #}
        <div class="thin-line"></div>
        <section>
            <h2>Audition Dates</h2>
            <p class="help">
                Please select the slots that you CANNOT attend. We will do our best to accommodate everyone's preferences, but please be as flexible as you can.
            </p>
            {% for date in audition_dates %}
            <div>
                <div class="checkbox-wrapper">
                    <input class="audition-date" type="checkbox"><p class="checkbox-label">{{ date }} AM</p>
                </div>
                <div class="checkbox-wrapper">
                    <input class="audition-date" type="checkbox"><p class="checkbox-label">{{ date }} PM</p>
                </div>
            </div>
            {% endfor %}
            <div class="field-wrapper">
                    <label class="form-label" for="{{ form.notes.id_for_label }}">
                        Notes
                    </label>
                    <p class="help">
                        {{ form.notes.help_text|safe }}
                    </p>
                    {{ form.notes }}
                    <p class="form-error">
                    {{ form.notes.errors }}
                    </p>
                </div>
        </section>
        <div class="thin-line"></div>
        <button class="btn" type="submit">Submit</button>
       </form>
</div>

{# Script tag to add everything ticked into the notes upon submit...#}
<script>
    notes = document.getElementById('id_notes')
    dateInputs = document.getElementsByClassName("audition-date")
    form = document.getElementById('audition-form')

    form.addEventListener('submit', (e) => {
        for (date of dateInputs) {
            if (date.checked === true){
                text = date.nextSibling.textContent;
                notes.textContent += text + "\n";
            }
        }
    }
    )
</script>