{% extends 'website/organisms/base.html' %}

{% block content %}

{% include 'website/organisms/page-header.html' %}

{% if applications_open %}
    {% include 'website/organisms/concerto-competition-open.html' %}
{% else %}
    <p>Applications for the concerto compettion are currently closed.</p>
{% endif %}

{% include 'website/molecules/accordion.html' %}
{% include 'website/organisms/concerto-winners-current.html' %}
{% include 'website/organisms/concerto-winners-past.html' %}

{% endblock %}