{% load staticfiles %}
{% block content %}

<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="past-winners">
            <h2><a data-toggle="collapse" data-target="#past-winners-text" href="#past-winners-text" aria-expanded="true" aria-controls="past-winners-text">Past Winners <span class="caret"></span></a></h2>
        </div>
        <div id="past-winners-text" class="collapse show" role="tabpanel" aria-labelledby="past-winners">
            <div class="card-block">
            <p>Previous winners of the competition include:</p>
            <ul>
                {% for past_winner in past_winners %}
                    {% if past_winner.website %}
                    <li><a href="{{ past_winner.website }}">{{ past_winner.name }} </a> - {{ past_winner.instrument }} - {{ past_winner.season }}<br>
                        <em>{{ past_winner.piece }}</em></li>
                    {% else %}
                    <li><a href="#">{{ past_winner.name }} </a> - {{ past_winner.instrument }} - {{ past_winner.season }}<br>
                        <em>{{ past_winner.piece }}</em></li>                    
                    {% endif %}
                {% endfor %}
            ​</ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}