{% load staticfiles %}
{% block content %}

<div class="flexwrap">
  <img src="{% static 'ulsosite/images/ULSOlogoblue.png' %}" alt="ULSO Logo" id="big-logo">
  <h1 id="big-title">University of London
    <br>Symphony Orchestra</h1>
  <div id="musicweb-quote">
    <h5>
      <em>“Unanimity of sound that was as rich, full-bodied and the equal of many professional ensembles”</em> - Musicweb International
    </h5>
  </div>
</div>

<div class="row button-box">
  <div class="col-lg-4">
    <a href="{% url 'whatson' %}">
      <button type="button" class="btn large-btn center-block">What's On</button>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="{% url 'join' %}">
      <button type="button" class="btn large-btn center-block">Join</button>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="{% url 'contact' %}">
      <button type="button" class="btn large-btn center-block">Contact</button>
    </a>
  </div>
</div>
{% endblock %}
