{% load staticfiles %}
{% block content %}

<h2>2017/18 Season</h2>
<div class="row">
    {% if concerts %} {% for concert in concerts %}
    <div class="col-lg-6">
        <h3>{{ concert.start_time }} - {{ concert.date|date:"D d M y"}}</h3>
        {% for piece in concert.piece_set.all %}
            <p><strong>{{ piece.composer }}</strong> {{ piece.piece }}</p>
        {% endfor %}
        <br>
        <p>Conductor -
            <a href="{{ concert.conductor.website }}">{{ concert.conductor.name }}</a>
        </p>
        {% if concert.soloist %}
            {% if concert.soloist_website %}
                <p>Soloist -
                    <a href="{{ concert.soloist_website }}">{{concert.soloist }}</p>
                </a>
                <br> {% else %}
                <p>Soloist - {{concert.soloist }}</p>
                <br> 
            {% endif %}
        {% endif %}
    </div>
    {% endfor %} {% endif %}
</div>

{% endblock %}