{% extends 'ulsosite/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
      <h1>{{ page.tite }}</h1>
      <h2>Next Performance</h2>
      <div class="flexwrap">
        <h3>{{ current_concert.start_time }} - {{ current_concert.date|date:"D d M y"}}</h3>
          {% for piece in current_pieces %}
            <h4><strong>{{ piece.composer }}</strong> {{ piece.piece }}</h4>
          {% endfor %}
      </div>
      <img src="{{ current_concert.poster_set.first.poster.url }}" class="body-photo thumbnail" alt="Poster for current project"/>
      <figcaption>
        <p class="center-text"><small>Poster designed by <a href="{{ current_concert.poster_set.first.website }}">{{ current_concert.poster_set.first.artist }}</a></small></p>
      </figcaption>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h3>Conductor</h3>
            <p><a href="{{ current_concert.conductor.website }}">{{ current_concert.conductor.name }}</a></p><br>
          </div>
          <div class="col-lg-4">
            <h3>Venue</h3>
            <p>
              {{ current_concert.concert_venue }}
            </p>
          </div>
          <div class="col-lg-4">
            <h3>Tickets</h3>
            <p>£10 Adults</p>
            <p>£5 Concessions & Students</p><br>
          </div>
        </div>
      </div>
      <div>
        <h2>2017/18 Season</h2>
        <div class="container">
          <div class="row">
            {% if concerts %}
              {% for concert in concerts %}
              <div class="col-lg-6">
                <h3>{{ concert.start_time }} - {{ concert.date|date:"D d M y"}}</h3>
                {% for piece in concert.piece_set.all %}
                  <p><strong>{{ piece.composer }}</strong> {{ piece.piece }}</p>
                {% endfor %}
                <br>
                <p>Conductor - <a href="{{ concert.conductor.website }}">{{ concert.conductor.name }}</a></p>
                {% if concert.soloist %}
                  {% if concert.soloist_website %}
                    <p>Soloist - <a href="{{ concert.soloist_website }}">{{concert.soloist }}</p></a><br>
                  {% else %}
                    <p>Soloist - {{concert.soloist }}</p><br>
                  {% endif %}
                {% endif %}
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <h2>Past Concerts</h2>
      <p>Please see the gallery of our past posters here (under construction).</p>
    </div>
{% endblock %}
